body {
  scroll-behavior: smooth;
}

.text-gradient {
  background: linear-gradient(to right, #00eaff, #ff00f0);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

.border-gradient-footer {
  border-image-slice: 1;
  border-bottom-width: 2px;
  box-sizing: border-box !important;
  border-width: 0px 0px 2px 0px;
  border-image-source: linear-gradient(to right, #00eaff, #ff00f0);
}

.btn-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  background-color: #111111;
  padding: 10px 40px;
  text-transform: uppercase;
  border-image-source: linear-gradient(to right, #00eaff, #ff00f0);
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 24px;
  cursor: pointer;
}

.btn-gradient:hover {
  background-image: linear-gradient(135deg, #00eaff, #ff00f0 77%);
}

footer {
  margin-top: 80px;
}

.footer-up {
  background-image: url("../img/subscribe_background.jpg");
  background-size: cover;
  padding: 50px;
  color: #ffffff;
}

.footer-up-content {
  /* display: flex; */
  /* justify-content: center; */
  /* gap: 32px; */
  margin: 80px;
  font-size: 20px;
}

.footer-up-content i {
  font-size: 24px;
  margin-right: 8px;
}

.content-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

input {
  width: 100%;
  background: transparent;
  outline: none;
  color: white;
  font-size: 17px;
}

.socials-icon {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.socials-icon i {
  font-size: 54px;
}

#go-up {
  background: #111111;
  padding: 80px;
  font-size: 25px;
  font-size: #787878;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  cursor: pointer;
}

#go-up i {
  font-size: 40px;
}
